{% load i18n %}
{% load static %}


<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}</title>

            <link rel="stylesheet" href="{% static "main/css/main.css" %}"/>

            <script type="text/javascript" src="{% static "main/js/bundle.js" %}"></script>
            {% block scripts %}{% endblock %}
    </head>
    <body id="startpage">

        <div class="container-fluid">
            <div class="row">
                {% block header %}{% endblock %}
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% block navigation %}{% endblock %}
                {% block main %}{% endblock %}
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% block footer %}{% endblock %}
            </div>
        </div>

<!--  system messages modal -->
<div id="system_messages" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
        <div class="modal-body">
            <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    </body>
</html>

