{% load i18n %}
{% load static from staticfiles %}


<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}</title>
            
            <link rel="stylesheet" href="{% static "main/css/main.css" %}"/>
            
            <script type="text/javascript" src="{% static "main/js/bundle.js" %}"></script>
            {% block scripts %}{% endblock %}
    </head>       
    <body>

        <div class="container-fluid">
            <div class="row">
                {% block header %}{% endblock %}
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% block navigation %}{% endblock %}
                {% block main %}{% endblock %}
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {% block footer %}{% endblock %}
            </div>
        </div>

    </body>
</html>

