{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "DirectVote - Home" %}
{% endblock %}

{% block header %}
    <div id='login_header_space' class="container-fluid">
        
            {% include 'login.html' %}
       
    </div>
        
    
{% endblock %}
<div id="main_content" class="container-fluid">
    <div class="row">

        {% block navigation %}
        <div id='navigation_page' class="col-md-2">
           
                {% include "navigation.html" %}
            
        </div>

        {% endblock %}

        {% block main %}

        <div  id='main_page' class="col-md-10">
            
                        {% include 'page_start.html' %}
            
        </div>





        {% endblock %}
    </div>  
</div>
{% block footer %}

    <div id='footer_page' class="container-fluid col-md-12 ">
        {% include "footer.html" %}
    </div>

{% endblock %}