{% extends "base.html" %}
{% load i18n %}



{% block title %}
    {% trans "DirectVote - Login" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        
    </script>
{% endblock %}


{% block content %}
    {% trans "login" %}
    <form id="mn-fm-login" action="javascript:void(0)"> <!--action="/signin/" method="POST"-->
        <input id="mn-in-login-user" placeholder="{% trans 'user' %}"/>
        <input id="mn-in-login-pass" type="password" placeholder="{% trans 'password' %}"/>
        <input type="submit" value="{% trans 'Sign in' %}"/>
    </form>
{% endblock %}

